@use "sass:color";
@use "sass:math";

/* ===== 공통 변수 ===== */
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark:  color.adjust($grey-color, $lightness: -25%);

$on-palm:          600px;
$on-laptop:        800px;

/* ===== 공통 mixin ===== */
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin vertical-rhythm {
  margin-bottom: calc(#{$spacing-unit} / 2);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}